<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">

<div class="container mt-5">
  <%= simple_form_for @care do |f| %>
    <div class="form-inputs">
      <div class="form-field">

        <%= f.input :schedule %>

      </div>
    </div>

    <div class="d-flex">
      <div class="form-actions">
        <%= f.button :submit, 'Change', class: 'btn btn-info' %>
      </div>
      <%= link_to 'Back', cares_path, class: "ms-3 btn btn-info" %>
    </div>
  <% end %>
</div>
