<%= simple_form_for @care do |f| %>
  <div class="form-inputs">
    <div class="form-field">
      <%= f.association :pet, as: :check_boxes, collection: @pets %>
      <%= f.input :category, collection: CATEGORIES, class: "input-text"%>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create" %>
  </div>
<% end %>
