// Define variables for your color scheme

// For example:

$main-color: #a68be9;
$header: #2DC7FF;
$ligth-red: #ed7d7d;
$light-yellow: #edd08c;
$black: #1a1a1a;
$black-light: #4d4d4d;
$white: #ffffff;
$white-light: #362f2f66;
$white-alpha: #ffffff80;
$body-bg-color: #f5e7c6;
$border-color-1: #d9c99b;
$border-color-2: #d9c79b66;
$shadow: #d9c79b;
