// Specific CSS for your home-page

.main-container {
  width: 95%;
  margin: 46px auto;
  border-radius: 21px;
}

.banner {
  background-color: #5a5aff;
  height: 360px;
}

.banner #info {
  padding-left: 60px;
  padding-top: 42px;
}

.banner #info h1 {
  font-weight: bolder;
}

.banner .img-info {
  margin-left: 60px;
}

.banner .btn {
  background-color: #F36F86;
  border: 1px solid #F36F86;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bolder;
  color: white;
}

#services {
  background-color: white;
  height: 400px;
}

.card {
  position: relative;
  width: 350px;
  // height: 400px;
  height: 120px;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: height .5s ease-in-out;

  &:hover {
    height: 325px;
  }
}

.card2 {
  position: relative;
  width: 350px;
  // height: 400px;
  height: 325px;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 1vw;
}

.card.active {
  height: 325px;
}

h2 {
  color: $green;
}

.card .content {
  display: flex;
  align-items: center;

  .profile {
    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    overflow: hidden;

    .walking {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  h4 {
    margin-left: 16px;
    font-size: 400;
    color: #5a5aff;
  }
}

.nav {
  position: relative;
  top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0;

  li {
    list-style: none;
    margin: 7px 0;

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      color: #89c4ff;
      font-size: 1.1em;
      transition: color .25s;
      margin-right: 100px;

      &:hover {
        color: #5a5aff;
      }
    }
  }
}

.toggle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: #5a5aff;
  border-end-end-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-icon {
    color: #fff;
    font-size: 1.4em;
    transition: transform ease-in-out .5s;
  }
}

.card.active .toggle ion-icon {
  transform: rotate(-180deg);
}

.about {
  display: grid;
  text-decoration: none;
}

// posiblemente borre este elemento
.img {
  object-fit: contain;
  width: 200px
}



// <div class="container">
// <div class="row">
//   <div class="col-lg-12 text-center">
//     <h2 class="section-heading mt-4">Our Services</h2>
//   </div>
// </div>
// </div>
