.new-care-container {
  display: grid;
  grid-template-areas: "left right";
  max-width: 815px;
  margin: auto;
  margin-top: 10%;
}

.photo-container {
  background: #807182;
  overflow: hidden;
  padding: 40px 0 0 0;
  position: relative;
  text-align: center;
  width: 300px;
  border-radius: 13px 0 0 13px;

  .icon-form {
    filter: sepia(100%);
    width: 13%;
    margin-right: 5px;
  }

  img {
    filter: sepia(100%);
    width: 70%;
  }

  h1 {
    color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    font-size: 24px;
  }

  .puppi {
    bottom: -5px;
    position: absolute;
    text-align: center;

    &::before {
      content: "";
      background: #807182;
      height: 100%;
      left: 0;
      opacity: 0.4;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }
}

.right-container {
  background-color: #f9c7c2;
  padding: 45px;
  border-radius: 0 13px 13px 0;

  h1 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 28px;
    font-weight: 600;
  }
}

.new-care-footer {
  button {
    background-color: #ed7d7d;
    border: none;
    padding: 8px;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: -23px;
  }

  input {
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: -23px;
  }
}
