.care-container {
  margin: 10% auto;
  background-color: burlywood;
  width: 795px;
  border-radius: 14px;
}

.card-img-care {
  max-width: 100%;
  margin-top: 33px;
  margin-left: -21px;
  border-radius: 10px;
}

.care-info-container {
  padding: 25px;
  margin-left: -8px;

  h2 {
    text-transform: capitalize;
    font-weight: 700;
  }

  h6 {
    text-transform: capitalize;
    font-weight: 600;
  }

  p {
    font-weight: 500;
  }
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin: 11px;
  margin-left: -4px;
  margin-right: 42px;
}

.home-button {
  margin-top: 88px;
  direction: rtl;
}
