<div class="card style="width: 18rem;">
  <% if @pet.photo.attached? %>
    <%= cl_image_tag @pet.photo.key, class: "card-img-top" %>
  <% else %>
    <%= image_tag "puppy.png", size: "auto", style: "border-radius: 5%", class: "card-img-top"%>
  <% end %>
</div>
