<footer>
  <div class="footer-container">
    <p>Made with <i class="fa-solid fa-heart"></i> by Dogtty Team </p>
    <%= link_to 'Conocenos', about_path %> <i class="fa-regular fa-face-laugh-wink"></i>
    <p>All right reserved</p>
    <p>Dogtty 2022</p>
  </div>
</footer>
