<div class="container d-flex justify-content-center mt-5">
  <div class='sidebar'>
    <div class='heading'>
      <h6>Our locations</h6>
    </div>
    <div id='listings' class='listings'></div>
  </div>

  <div id='map' style='width: 600px; height: 300px;'
  data-controller="map"
  data-map-window-value="<%= @window %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


<style>


  /* The page is split between map and sidebar - the sidebar gets 1/3, map
  gets 2/3 of the page. You can adjust this to your personal liking. */
  .sidebar {

    width: 33.3333%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
  }

  .map {


    width: 66.6666%;
    top: 0;
    bottom: 0;
  }

  .heading {
    background: #fff;
    border-bottom: 1px solid #eee;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
  }
</style>




<%= link_to 'go to home', root_path %>
